<tr>
    <td><%=h investment.created_at %></td>
    <td><%=h investment.project.name %></td>
    <td><%=h investment.request_amount %></td>
    <td><%=h investment.status %></td>
    <td><%=h investment.deposit_amount %></td>
    <td><%= link_to 'Ver projeto', project_path(investment.project_id) %></td>
</tr>

