<% provide(:title, 'Cadastro') %>
<h1>Cadastro de Investidor</h1>
<div>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name, "Nome Completo" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "E-mail" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirme sua senha" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Criar minha conta", class: "btn btn-primary" %>
    <% end %>
</div>