<% if @projects.empty? %>
<div id="projects_empty">
<div class="ui huge center aligned header", id="project_empty_title">Não existem projetos em captação no momento.</div>
</div>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
    <br>
    <br>
    <div class="ui container">
    <div class="ui raised segment">
    <h4 class="ui black header">Cadastre-se para ser notificado de uma nova oportunidade de investimento</h4>
<%= link_to "Cadastre-se", cadastrar_path, :class=>"ui green button" %>
</div>
</div>
</div>
</div>
<% end %>

<% @projects.each do |project| %>

<div class="ui main container">
        <div class="ui horizontal divider header">Projetos em captação</div><br>

        <div class="ui raised centered cards">
            <div class="card">
                <div class="image">
                    <%= image_tag("minimall.PNG", :alt => "Ilustração de mini mall") %>
                </div>
                <div class="content">
                    <a class="header"> <%= project.name %> </a>
                    <div class="meta">
                        <span class="date"> <%= project.location %> </span>
                    </div>
                    <div class="description">
                        <p> <%= project.project_type %> </p>
                        <p> <%= project.description %> </p>
                        <p> Terreno em garantia </p>
                    </div>
                    <div class="ui inverted divider"></div>
                    <div class="ui grid">
                        <div class="ui twelve wide column">
                            <p> Oferta de investimento </p>
                            <h5> <%= project.offering_value %> </h5>
                        </div>
                        <div class="ui four wide column">
                            <p>Taxa</p>
                            <h5> <%= project.rate %> </h5>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <%= link_to "Ver Detalhes", project_path(project.id), :class=>"ui blue button", :id=>"detalhes-button" %>
                </div>
            </div>

        </div>

    </div>

<% end %>
