<div class="ui main grid container stackable">
        <div class="ui ten wide centered column">
            <p>IMOBANK - PLATAFORMA DE DESENVOLVIMENTO IMOBILIÁRIO</p>
            <h1>Investimentos em construções, incorporações e reformas para venda</h1><br>
            
            <div class="ui list">
                
              <div class="item">
                <div class="content">
                  <div class="ui blue small header">Invista online através da plataforma</div>
                  <p>A partir de R$ 3.000,00 você pode começar</p>
                </div>
              </div>
              
              <div class="item">
                <div class="content">
                  <div class="ui blue small header">Títulos emitidos de acordo com a Instrução CVM 400/2003</div>
                  <p>Cadastre-se gratuitamente para ter acesso aos detalhes dos projetos</p>
                </div>
              </div>
              
            </div>
            
        </div>
        
        <div class="ui three wide column center aligned">
            <%= image_tag "mapa.png",  height: "160"%>
            <p><strong> Acesso à investimentos em todo território nacional</strong></p>
            <%= link_to "Abrir Conta", cadastrar_path, :class=>"ui green button fluid monitor only" %>
            <%= link_to "Abrir Conta", cadastrar_path, :class=>"ui green button mobile mobile only" %>
        </div>
        <div class="ui three wide column center aligned">
            <%= image_tag "mortgage.jpg",  height: "160"%>
            <p><strong>Precisa de capital para o seu projeto de construção?</strong></p>
            <%= link_to "Saiba Mais", root_path, :class=>"ui blue button fluid monitor only" %>
            <%= link_to "Saiba Mais", root_path, :class=>"ui blue button mobile only" %>
        </div>
        
    </div>
    
        <%= render 'shared/projects_available' %>
    
    <div class="ui container">
        <br>
        <h3 class="ui horizontal divider header">Vantagens de investir via Imobank</h3><br>
        <div class="ui equal width grid stackable">
            <div class="ui column center aligned">
                <i class="laptop icon huge"></i>
                <h4 class="ui header">Investimento totalmente online</h4>
            </div>
            <div class="ui column center aligned">
                <i class="checkmark icon huge"></i>
                <h4 class="ui header">Due Dillegence:</br>Análise financeira, jurídica e de viabilidade de mercado feita por profissionais</h4>
            </div>
            <div class="ui column center aligned">
                <i class="pie chart icon huge"></i>
                <h4 class="ui header">Diversificação de seus investimentos em Real Estate</h4>
            </div>
            <div class="ui column center aligned">
                <i class="money icon huge"></i>
                <h4 class="ui header">Modelo jurídico financeiro regulado pela CVM (Comissão de Valores Mobiliários)</h4>
            </div>
            <div class="ui column center aligned">
                <i class="line chart icon huge"></i>
                <h4 class="ui header">Relatórios periódicos da evolução do seu projeto</h4>
            </div>
        </div>
        <br>

        <div class="ui column center aligned segment raised">
            <h2 class="ui header">Receba no seu e-mail um aviso quando um novo projeto de investimento entrar no Imobank</h2>
            <div class="ui action input">
                <%= form_for @user do |f| %>
                <%= f.email_field :email, class: 'form-control' %>
                <%= f.submit "Cadastre-se!", method:"GET", class: 'ui red button'  %>
                <% end %>
            </div>
        </div>
        <br>

        <h3 class="ui horizontal divider header">Processo de Investimento</h3>
        
        
        <div class="ui five stackable steps">
            <div class="step">
                <i class="at icon"></i>
                <div class="content">
                    <div class="title">Abra sua Conta</div>
                    <div class="description">Em 5 minutos</div>
                </div>
            </div>
            
            <div class="step">
                <i class="search icon"></i>
                <div class="content">
                    <div class="title">Analise os projetos disponíveis</div>
                    <div class="description">Projeção financeira, empreendimento, localização, etc.</div>
                </div>
            </div>
            
            <div class="step">
                <i class="in cart icon"></i>
                <div class="content">
                    <div class="title">Escolha e Invista</div>
                    <div class="description">Faça a reserva e a transferência</div>
                </div>
            </div>
            
            <div class="step">
                <i class="table icon"></i>
                <div class="content">
                    <div class="title">Acompanhe a evolução</div>
                    <div class="description">Através do painel de controle da sua conta no IMOBANK</div>
                </div>
            </div>
            
            <div class="step">
                <i class="dollar icon"></i>
                <div class="content">
                    <div class="title">Receba o retorno do investimento</div>
                    <div class="description">Na sua conta corrente</div>
                </div>
            </div>
        </div>
        <br>
        <!--    
        <div class="ui equal width grid stackable">
            <div class="column">
                <%= image_tag "p1.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p2.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p3.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p4.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p5.svg",  class: "ui fluid image" %>
            </div>
        </div>
        -->
        
        
        
    </div>