    <div class="ui main relaxed grid container stackable">
        <div class="ui ten wide column">
            <p>IMOBANK - PLATAFORMA DE DESENVOLVIMENTO IMOBILIÁRIO</p>
            <h1>Investimentos em construção, leilões e reformas para venda</h1>
            <div class="ui horizontal segments">
                <div class="ui segment">
                    Invista online através da plataforma
                </div>
                <div class="ui segment">
                    Cadastre-se gratuitamente para ter acesso aos detalhes dos projetos
                </div>
                <div class="ui segment">
                    Investimento mínimo de R$ 5.000,00
                </div>
                <div class="ui segment">
                    Títulos emitidos de acordo com a Instrução CVM 400/2003
                </div>
            </div>

        </div>
        <div class="ui three wide column">
            <%= image_tag "mapa",  height: "160"%>
            <p><strong> Acesso à investimentos em todo território nacional</strong></p>
            <%= link_to "Abrir Conta", cadastrar_path, :class=>"ui fluid green button" %>
        </div>
        <div class="ui three wide column">
            <%= image_tag "mortgage",  height: "160"%>
            <p><strong>Precisa de capital para o seu projeto de construção?</strong></p>
            <%= link_to "Saiba Mais", root_path, :class=>"ui fluid blue button" %>
        </div>

        <button class="ui circular icon button">
            <i class="circular inverted angle double down big icon"></i>
        </button>
    </div>

    <%= render 'shared/projects_available' %>

    <div class="ui container">
        <h3 class="ui horizontal divider header">Vantagens de investir via Imobank</h3>
        <div class="ui equal width grid relaxed stackable">
            <div class="ui column segment">
                <i class="laptop icon huge"></i>
                <h4 class="ui header">Investimento totalmente online</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="checkmark icon huge"></i>
                <h4 class="ui header">Due Dillegence:</br>Análise financeira, jurídica e de viabilidade de mercado feita por profissionais</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="pie chart icon huge"></i>
                <h4 class="ui header">Diversificação de seus investimentos em Real Estate</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="money icon huge"></i>
                <h4 class="ui header">Modelo jurídico financeiro regulado pela CVM (Comissão de Valores Mobiliários)</h4>
            </div>
            <div class="ui column segment stacked">
                <i class="line chart icon huge"></i>
                <h4 class="ui header">Relatórios periódicos da evolução do seu projeto</h4>
            </div>
        </div>



        <h3 class="ui horizontal divider header">
 
  Processo de Investimento
</h3>
        <div class="ui equal width grid stackable">
            <div class="column">
                <%= image_tag "p1.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p2.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p3.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p4.svg",  class: "ui fluid image" %>
            </div>
            <div class="column">
                <%= image_tag "p5.svg",  class: "ui fluid image" %>
            </div>
        </div>

        <div class="ui segment piled">
            <h2 class="ui header">Quer ser informado sobre novas oportunidades de investimento do Imobank?</h2>
            <div class="ui action input">
                <%= form_for @user do |f| %>
                <%= f.email_field :email, class: 'form-control' %>
                <%= f.submit "Cadastre-se!", method:"GET", class: 'ui red button'  %>
                <% end %>
            </div>
        </div>
    </div>