<% provide(:meta_desc, "Imobank é uma plataforma de investimento imobiliário crowdfunding em construção civil, incorporações, reformas, leilões.") %>
<% provide(:meta_keywords, "crowdfunding, imobiliário, investimento, brasil, brasileiro, construção, reforma, incorporação,") %>
<% provide(:robots, "INDEX, FOLLOW") %>

<div id="home_main">
<div class="ui container">
    <div class="ui three column grid stackable", id="home_three">
        <div class="one column row">
            <div class="column">
                <div class="ui huge center aligned header", id="home_main_title">Invista em Construção Civil a partir de R$ 5.000</div>
            </div>
        </div>
        <div class="column center aligned">
            <i class="huge line chart icon"></i>
            <div class="ui list">
              <div class="item">
                <div class="content">
                  <div class="ui blue small header">
                      RENTABILIDADE
                  </div>
                  <p>Obtenha rentabilidade sobre produtos imobiliários</p>
              </div>
          </div>
      </div>
  </div>
  <div class="column center aligned">
    <i class="huge filter icon"></i>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="ui blue small header">PROJETOS SELECIONADOS</div>
          <p>Os melhores produtos imobiliários com análise financeira, jurídica e mercadológica</p>
      </div>
  </div>
</div>
</div>
<div class="column center aligned">
    <i class="huge laptop icon"></i>
    <div class="ui list">
      <div class="item">
        <div class="content">
          <div class="ui blue small header">RELATÓRIOS TRIMESTRAIS</div>
          <p>Acompanhe seu investimento na plataforma Imobank</p>
      </div>
  </div>
</div>
</div>
</div>

<div class="ui grid stackable two column", id="home_two">
    <div class="column center aligned">
        <div class="ui small header">Investidores</div>
        <%= link_to "Ver Projetos Disponíveis", projects_path, :class=>"ui green button" %>
    </div>
    <div class="column center aligned">
        <div class="ui small header">Construtores</div>
        <%= link_to "Receba Investimento", como_funciona_para_o_construtor_path, :class=>"ui blue button" %>
    </div>
</div>

</div>
</div>

<div class="ui container">
<div class="ui header centered large grey", id="home_second_block">Plataforma de Investimento Imobiliário Crowdfunding</div>
<div class="ui header small centered", id="home_third_block">Conectamos Investidores aos Desenvolvedores Imobiliários</div>
<br>
<div class="ui internally celled grid stackable", id="env_block">

    <div class="ui six wide column">
       <div class="ui basic segment">
        <div class="ui header centered large", id="env_headers">Investidores</div>
        <%= image_tag "crowdfunders.jpg",  class: "ui fluid image"%>
        <div class="ui list">
          <div class="item">
            <i class="checkmark icon"></i>
            <div class="content">
              Diversifique seus investimentos
          </div>
      </div>
      <div class="item">
        <i class="checkmark chart icon"></i>
        <div class="content">
            Acesse investimentos em construção civil
        </div>
    </div>
    <div class="item">
        <i class="checkmark icon"></i>
        <div class="content">
          Simplicidade, praticidade e transparência para investir
      </div>
  </div>
  <div class="item">
        <i class="checkmark icon"></i>
        <div class="content">
          Suporte de especialistas em gestão e negócios imobiliários
      </div>
  </div>
</div>
<h5 class="ui header">Receba um aviso no seu e-mail quando um novo projeto de investimento entrar no Imobank</h5>
<div class="ui form">
    <div class="fields">
        <div class="twelve wide field">
            <%= form_for @user do |f| %>
            <%= f.email_field :email, class: 'form-control', placeholder: 'Digite seu email...' %>
        </div>
        <div class="four wide field">
            <%= f.submit "Enviar", method:"GET", class: 'ui red button'  %>
            <% end %>
        </div>
    </div>
</div>
</div>
</div>
<div class="ui four wide column">
    <div class="ui basic segment">
        <br><br><br><br><br><br>
        <%= image_tag "logosmall.svg", class: "ui small centered image" %>
        <br><br>
        <div class="ui list">
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Avaliação dos Desenvolvedores</div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Seleção dos melhores projetos</div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Verificação de viabilidade financeira e comercial</div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Captação Crowdfunding</div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Emissão dos Títulos</div>
            </div>
            <div class="item">
                <i class="checkmark icon"></i><div class="content">Relatórios de acompanhamento do projeto e do retorno do investimento</div>
            </div>
        </div>
    </div>
</div>
<div class="ui six wide column">
   <div class="ui basic segment">
    <div class="ui header centered large", id="env_headers">Desenvolvedores</div>
    <%= image_tag "desenvolvimento.jpg",  class: "ui fluid image"%>
    <div class="ui list">
      <div class="item">
          <br><br>
          <i class="checkmark icon"></i><div class="content">Acesso ao capital para viabilizar empreendimentos</div>
      </div>
      <div class="item">
        <i class="checkmark icon"></i><div class="content">Autonomia na gestão preservada</div>
    </div>
    <div class="item">
        <i class="checkmark icon"></i><div class="content">Construa parceiras duradouras</div>
        <br>
<br>
    </div>
</div>
<%= link_to "Inscreva seu Projeto", candidates_new_path, :class=>"ui black button fluid monitor only" %>
<%= link_to "Inscreva seu Projeto", candidates_new_path, :class=>"ui black button mobile only" %>
</div>
</div>
</div>

<%= render 'shared/projects_available' %>

<h4 class="ui centered header grey">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Processo de Investimento", como_funciona_para_o_investidor_path, :class=>"ui blue button fluid monitor only" %>
        <%= link_to "Processo de Investimento", como_funciona_para_o_investidor_path, :class=>"ui blue button mobile only" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Dúvidas Frequentes", perguntas_frequentes_do_investidor_path, :class=>"ui orange button fluid monitor only" %>
        <%= link_to "Dúvidas Frequentes", perguntas_frequentes_do_investidor_path, :class=>"ui orange button mobile only" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Projetos Disponíveis", projects_path, :class=>"ui green button fluid monitor only" %>
        <%= link_to "Projetos Disponíveis", projects_path, :class=>"ui green button mobile only" %>
    </div>
</div>
</div>
