<% provide(:title, "Como funciona para o Empreendedor") %>
<% provide(:meta_desc, "Como funciona o negócio para Empreendedores, Desenvolvedores e Construtores") %>
<% provide(:meta_keywords, "funcionamento, modelo, dúvidas, crowdfunding, imobiliário, investimento, brasil, brasileiro,") %>
<% provide(:robots, "INDEX, FOLLOW") %>
<div class="ui main container">
<div class="ui container">
    <h2 class="ui center aligned header", id="pages_header">Precisa de investimento para desenvolver o seu projeto imobiliário?</h2>

<%= image_tag "skyline.jpg", class: "ui large centered image" %>



    <div class="ui basic segment">
        <h3 class="ui left aligned header">1. Apresente o projeto ao Imobank</h3>
        <%= image_tag "project-presentation.jpg", class: "ui medium right floated image monitor only" %>
        <div class="content">Inscreva-se e apresente seu projeto e suas análises pela plataforma para que nossa equipe analise e ofereça a melhor solução para a sua captação. Tudo é feito on-line!</div>
    </div>



    <div class="ui basic segment">
        <h3 class="ui left aligned header">2. Aguarde o Imobank analisar o seu projeto</h3>
        <div class="content">Com base nos documentos enviados verificamos a viabilidade do projeto sob diversos aspectos. Você poderá esclarecer suas dúvidas com nossa equipe e apresentaremos a melhor opção jurídico-financeira.</div>
    </div>


    <div class="ui basic segment">
        <h3 class="ui left aligned header">3. Prepare-se para fornecer a documentação para oficializar sua captação pela plataforma.</h3>
        <div class="content">Nesta fase ocorre a regularização de garantias oferecidas e a documentação necessária para a autorização da oferta ao público.</div>
    </div>



    <div class="ui basic segment">
        <h3 class="ui left aligned header">4. Após a autorização publicada pela CVM, iniciamos a captação financeira pela plataforma.</h3>
        <div class="content">O Imobank fará a divulgação, a gestão de todo o processo e a comunicação com os investidores.</div>
    </div>


<%= image_tag "house-construction.png", class: "ui medium right floated image monitor only" %>
    <div class="ui basic segment">

        <h3 class="ui left aligned header">5. Término da captação pelo Imobank</h3>

        <div class="content">Após a meta de recursos financeiros atingida, os recursos são liberados e você pode iniciar o projeto e cuidaremos da emissão dos títulos de investimento.</div>
    </div>



    <div class="ui basic segment">
        <h3 class="ui left aligned header">6. Mantenha o contato com o Imobank e realize os pagamentos aos investidores</h3>
        <div class="content">Trimestralmente o Imobank enviará os relatórios de status do projeto e informará os investidores sobre o andamento do projeto e o retorno do investimento.</div>
    </div>

</div>

<h4 class="ui centered header grey", id="veja_tambem">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Perguntas Frequentes dos Desenvolvedores", perguntas_frequentes_do_construtor_path, :class=>"ui blue button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Inscreva seu Projeto", candidates_new_path, :class=>"ui black button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Modelo Jurídico-Financeiro", modelo_de_negocio_path, :class=>"ui green button fluid" %>
    </div>
</div>
</div>
