<!-- <script>
  $(document)
    .ready(function() {
      $('.ui.checkbox')
        .checkbox();
      $('.ui.form')
        .form({
          fields: {
            name: {
              identifier: 'name',
              rules: [{
                type: 'empty',
                prompt: 'É necessário inserir o Nome'
              }]
            },
            terms_of_service: {
              identifier: 'terms_of_service',
              rules: [{
                type: 'checked',
                prompt: 'É necessário aceitar os termos e condições do serviço do Imobank.'
              }]
            }
          }
        });
    });
</script>
-->
<% provide(:title, "Proposta de Novo Projeto") %>
<% provide(:meta_desc, "Pedido de inclusão de projeto de investimento para crowdfunding na plataforma Imobank") %>
<% provide(:meta_keywords, "crowdfunding, imobiliário, investimento, cadastro, pedido, inclusão, empreendedor, construtor,") %>
<% provide(:robots, "INDEX, NOFOLLOW") %>

<script>
        $(document).ready(function(){
        $("#telephone").mask("(99)9999-999?9");
});
            </script>
<% provide(:title, "Proposta de Projeto") %>
  <div class="ui grid stackable">
    <div class="twelve wide column">
      <h2 class="ui center aligned dividing header">Inscreva seu projeto</h2>
      <br>
      <%= form_for @candidate, url: {action: "create"}, :html => {:class => "ui form"}  do |f| %>
          <div class="required field">
            <%= f.label :name, "Nome Completo" %>
              <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="three fields">
            <div class="required field five wide">
              <%= f.label :email, "E-mail" %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="required three wide field">
              <%= f.label :phone, "Telefone para contato" %>
                <%= f.telephone_field :phone, class: 'form-control', id:"telephone" %>
            </div>
            <div class="eight wide field">
              <%= f.label :company, "Empresa" %>
                <%= f.text_field :company, class: 'form-control' %>
            </div>
          </div>
          <div class="required field">
            <%= f.label :description, "Descrição do Projeto" %>
              <%= f.text_area :description, class: 'form-control' %>
          </div>
          <%= render 'shared/terms_of_service_checkbox' %>
          <%= f.submit "Enviar", class: "ui red button" %>
          <br>
            <%= render 'shared/error_messages_candidate', object: @candidate %>
            <% end %>

              <div class="ui right aligned tiny red header">* Campos obrigatórios</div>
    </div>
    <div class="four wide column">
      <h5 class="ui center aligned header">Dúvidas?<br>contato@imobank.com.br</h5>
      <h5 class="ui left grey aligned header">
        <br><br><br> Financiamento sem intermediação bancária
        <br><br><br> Acesso direto aos recursos de investidores
        <br><br><br> Corretores também podem inscrever os projetos.
        <br><br><br>
        </h5>
        <div class="ui divider"></div>
        <h5 class="ui right blue aligned header">
      Nosso gerente de negócios analisará seu projeto e entrara em contato.
      </h5>
        </div>
        </div>
        <h4 class="ui centered header grey", id="veja_tambem">Veja também:</h4>
<div class="ui equal width grid stackable">
    <div class="ui center aligned column">
        <%= link_to "Perguntas Frequentes dos Desenvolvedores", perguntas_frequentes_do_construtor_path, :class=>"ui blue button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Como Funciona", como_funciona_para_o_construtor_path, :class=>"ui black button fluid" %>
    </div>
    <div class="ui center aligned column">
        <%= link_to "Modelo Jurídico-Financeiro", modelo_de_negocio_path, :class=>"ui green button fluid" %>
    </div>
</div>
        </div>



