<% provide(:title, @project.name) %>
<% provide(:meta_desc, @project.name %>
<% provide(:meta_keywords, "projetos, disponível, investimento, obra,") %>
<% provide(:robots, "INDEX, NOFOLLOW") %>

<script>

$(document)
        .ready(function() {
$('.ui.sticky')
  .sticky()
;

        $('.ui.dropdown')
        .dropdown()
        console.log('iniciou')
        ;

        })
         ;


</script>
<style>
    .ui.fixed.sticky + p {
  margin-top: 39px;
}
</style>
<div class="ui main container">
<div class="ui segment">
  <div class="ui sticky" style="width: 670px !important; height: 43px !important; left: 456.5px;">
    <div class="ui fluid three item tabular menu">
      <a class="active item">Tab 1</a>
      <a class="item">Tab 2</a>
      <a class="item">Tab 3</a>
    </div>
  </div>
  <div class="ui active tab">
<h1> <%= @project.name %> </h1>
<h1> <%= @project.project_type %> </h1>
<h1> <%= @project.rate %> </h1>
<h1> <%= @project.location %> </h1>
<h1> <%= @project.developer %> </h1>
<h1> <%= @project.offering_value %> </h1>
<h1> <%= @project.description %> </h1>
<h1> <%= @project.name %> </h1>
<h1> <%= @project.project_type %> </h1>
<h1> <%= @project.rate %> </h1>
<h1> <%= @project.location %> </h1>
<h1> <%= @project.developer %> </h1>
<h1> <%= @project.offering_value %> </h1>
<h1> <%= @project.description %> </h1>
<h1> <%= @project.name %> </h1>
<h1> <%= @project.project_type %> </h1>
<h1> <%= @project.rate %> </h1>
<h1> <%= @project.location %> </h1>
<h1> <%= @project.developer %> </h1>
<h1> <%= @project.offering_value %> </h1>
<h1> <%= @project.description %> </h1>
<%= link_to "Fazer reserva de investimento", new_investment_path(:project_id => "1"), :class=>"ui red button" %>
  </div>
</div>
</div>


