<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>
  <body>

    <div class="ui fixed menu">
        <div class="ui container">
            <a href="#" class="header item">
                <img class="logo" src="/app/assets/images/logosmall.png">

            </a>

            <div class="ui simple dropdown item">
                Investir <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#">Como Funciona</a>

                    <a class="item" href="#">Projetos Disponíveis</a>

                    <a class="item" href="#">Perguntas Frequentes</a>
                </div>
            </div>

            <div class="ui simple dropdown item">
                Levantar Capital <i class="dropdown icon"></i>
                <div class="menu">

                    <a class="item" href="#">Como Funciona</a>

                    <a class="item" href="#">Inscreva seu Projeto</a>

                    <a class="item" href="#">Perguntas Frequentes</a>
                </div>
            </div>

            <div class="ui simple dropdown item">
                Saiba Mais <i class="dropdown icon"></i>
                <div class="menu">
                    <%= link_to "O Imobank", imobank_path, class:"item" %>
                    
                    <a class="item" href="#">Artigos</a>

                    <a class="item" href="#">Modelo de Negócio</a>
                </div>
            </div>
            <div class="right item">
                <div class="ui buttons">
                    <button class="ui button">Login</button>
                    <div class="or" data-text="ou"></div>
                    <button class="ui positive button">Abrir Conta</button>
                </div>
            </div>
        </div>
    </div>
    <%= yield %>
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="five wide column">
                    <h4 class="ui inverted header">Entre em contato</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">contato@imobank.com.br</a>
                        <a href="#" class="item">(11) 3050 9050</a>
                        <a href="#" class="item">Seg-Sex 8:00 às 19:00h</a>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header">Imobank</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">O Imobank</a>
                        <a href="#" class="item">Trabalhe conosco</a>
                    </div>
                </div>
                <div class="six wide column">
                    <h4 class="ui inverted header">Informações Legais</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Termos do Serviço</a>
                        <a href="#" class="item">Política de Privacidade</a>
                        <a href="#" class="item">Instruçao CVM nº 400/2003</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
  </body>
</html>